@page "/counter"
@rendermode InteractiveServer

@using KristofferStrube.Blazor.FileSystemAccess;
@inject IFileSystemAccessService FileSystemAccessService;

@using Edam.Web.FileSystemHelper;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
   private int currentCount = 0;

   private async void IncrementCount()
   {
      await OpenAndReadFile();
      currentCount++;
   }

   private async Task OpenAndReadFile()
   {
      FileSystemPicker pickers = new FileSystemPicker();
      var results = await pickers.OpenAndReadFolder(FileSystemAccessService);
      StateHasChanged();
   }
}
