@page "/projects"

@using Edam.Web.Models;
@using Edam.Web.Components.Pages;

<MudPaper Style="overflow:hidden; position:relative; border-left: 1px solid #ddffff">
   <MudDrawerContainer Class="mud-height-full">
      <MudDrawer @bind-Open="@_openLeft" Anchor="Anchor.Left" Elevation="0"
                 Variant="@DrawerVariant.Persistent" Style="padding: 6px">
         <FileSystemComponent @ref="_fileSystem" />
      </MudDrawer>

      <div style="height: calc(100vh - 65px); border-left: 1px solid #D0D0D0">
         <div style="height: 54px; padding:4px; background-color: #F0F0F0; border-bottom: 1px solid #D0D0D0">
            <MudTooltip Text="Save">
               <MudIconButton Icon="@Icons.Material.Outlined.Save" Color="Color.Success" aria-label="save" OnClick="OnSaveClick"></MudIconButton>
            </MudTooltip>
            <MudTooltip Text="Delete">
               <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" aria-label="delete" OnClick="OnDeleteClick"></MudIconButton>
            </MudTooltip>
         </div>

         <div style="padding: 1px; background-color: dimgray; height: calc(100vh - 65px);">
            <EditorComponent @ref="_editorComponent" />
         </div>

         <div style="height: 54px; padding:4px; background-color: #F0F0F0; border-bottom: 1px solid #D0D0D0">
            Status Bar
         </div>
      </div>

   </MudDrawerContainer>
</MudPaper>

@code {

   bool _openLeft = true;
   bool _stateHasChanged;
   FileSystemComponent? _fileSystem;
   EditorComponent? _editorComponent;

   protected override async Task OnInitializedAsync()
   {
      await base.OnInitializedAsync();
   }


   /// <summary>
   /// Component After Render method.
   /// </summary>
   /// <param name="firstRender"></param>
   protected async override Task OnAfterRenderAsync(bool firstRender)
   {
      base.OnAfterRender(firstRender);
      if (_stateHasChanged)
      {
         _stateHasChanged = false;
         StateHasChanged();
      }

   }

   public async Task OnSaveClick()
   {
      
   }

   public async Task OnDeleteClick()
   {

   }

}
